.logement {
  max-width: 1240px;
  padding: 0px 20px;
  margin: 0 auto;

  .cover-image {
    object-fit: cover;
    border-radius: 25px;
    height: 415px;
    width: 100%;
  }
  .all-infos {
    display: flex;
    justify-content: space-between;

    .first-case {
      margin-top: 20px;

      h2 {
        color: rgb(255, 100, 100);
        font-size: 1.7rem;
        font-weight: 500;
      }

      p {
        padding: 5px 0 20px;
        font-weight: 600;
      }

      ul {
        display: flex;
      }

      li {
        font-size: 0.8rem;
        color: white;
        background-color: rgb(255, 100, 100);
        padding: 5px 10px;
        margin-right: 10px;
        border-radius: 10px;
      }
    }

    // Deuxième ligne
    .second-case {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      .host {
        justify-content: flex-end;
        align-items: center;
        display: flex;

        p {
          color: rgb(255, 100, 100);
        }

        img {
          border-radius: 300px;
          width: 50px;
        }
      }

      .rate {
        margin-top: 20px;
      }

      img {
        margin: 0 5px;
      }
    }
  }

  .collapse {
    display: grid;
    grid-template-columns: 50% 50%;

    .description {
      margin-right: 20px;
    }
  }
  .collapse-item {
    width: 100%;
    .collapse-header {
      align-items: center;
      padding: 15px 10px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      background-color: rgb(250, 98, 98);

      h3 {
        color: white;
      }
      img {
        width: 25px;
        height: 15px;
      }
    }

    .collapse-content {
      padding: 0 10px;
      line-height: 25px;
      border-radius: 5px;
      background-color: rgba(238, 238, 238, 0.547);
      overflow: hidden;
      transition: max-height 0.2s ease;
    }
  }
}

@media screen and (max-width: 600px) {
  .logement {
    .second-case {
      display: block;

      margin: 15px 0 0px;
      ul {
        display: flex;
      }

      li {
        font-size: 0.8rem;
        color: white;
        background-color: rgb(255, 100, 100);
        padding: 6px 15px;
      }
      .rate {
        margin-top: 10px;
        img {
          margin: 0 5px;
          width: 20px;
        }
      }
    }
    .collapse {
      margin-top: 20px;
      display: block;

      .description {
        margin-right: 0px;
      }
    }
    .collapse-item {
      width: 100%;
      .collapse-header {
        padding: 10px 10px;

        h3 {
          color: white;
          font-weight: 500;
        }
      }

      .collapse-content {
        padding: 0 10px;
        line-height: 25px;
        border-radius: 5px;
        background-color: rgba(238, 238, 238, 0.547);
        overflow: hidden;
        transition: max-height 0.2s ease;
      }
    }
  }
}
