* {
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

body  {
  min-height: 100svh;
  min-height: 100dvh;
  min-height: 100vh;
}
