.carousel {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 15px;
  overflow: hidden; /* Assurez-vous que les flèches ne débordent pas du carrousel */

  .image-number {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    background-color: rgba(39, 38, 38, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }
  .carousel-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease; /* Ajoutez une transition pour l'animation */
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    img {
      width: 20px;
    }
  }
  .left-arrow {
    left: 10px; /* Ajustez la position de la flèche gauche */
  }

  .right-arrow {
    right: 10px; /* Ajustez la position de la flèche droite */
  }
}

.slide-right {
  transform: translateX(-1%); /* Déplacez l'image vers la droite */
}

.slide-left {
  transform: translateX(1%); /* Déplacez l'image vers la gauche */
}
@media screen and (max-width: 500px) {
  .carousel {
    height: 315px;
  }
}
