.banner {
  padding: 20px 20px;
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;

  .banner-image {
    height: 220px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    position: relative;
    z-index: 1;
    filter: brightness(40%);
  }

  .bannerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 3;
  }
}

@media screen and (max-width: 550px) {
  .banner {
    .banner-image {
      height: 150px;
    }

    .bannerText {
      font-size: 0.7rem;
      left: 40%;
      text-align: left;
    }
  }
}
